html {
    height: 100%;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  #main-holder {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 70%;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px 7px black;
    backdrop-filter: blur(7px);
  }

  #heading{
      color: greenyellow;
      font-size: 50px;
      font-style: italic;
      text-decoration: underline;
  }
  
  #login-error {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  #login-error-msg {
    width: 30%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #login-error-msg-2 {
    display: block;
  }
  
  #login-form {
      text-align: center;
      margin: auto;
      align-items: center;
      align-self: flex-start;
      display: grid;
      justify-items: center;
      align-items: center;
  }
  
  .login-form-input::placeholder {
      color: grey;
  }
  
  .login-form-input {
      border: none;
      border-bottom: 1px solid grey;
      margin-bottom: 10px;
      outline: none;
      border-radius: 3px;
      padding: 0px 0px 5px 5px;
      background: transparent;
  }

  #login-submit {
      width: 100%;
      padding: 7px;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      background-color: #3a3a3a;
      cursor: pointer;
      outline: none;
  }

  #login-submit:hover{
      background-color: transparent;
      color: greenyellow;
      border: 2px solid grey;
  }

  footer{
      height: 20%;
      backdrop-filter: blur(30px);
      width: 100%;
  }
  #contact>a{
      display: inline-block;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  #contact img{
      height: 30px;
  }
  #insta img{
      height: 45px;
      padding-left: -10px
  }
  #contact{
      float: left;
      padding-bottom: 20px;
  }
  #mail{
      float: right;
      color:darkturquoise;
  }